{% extends "base.html" %}
{% block title %}Cadastro Cliente{% endblock %}

{% block content %}
  <h2>Cadastro de Cliente</h2>
  <form method="post">
    {{ form.hidden_tag() }}

    <div>
      {{ form.nome.label }}<br>
      {{ form.nome(size=32) }}
      {% for error in form.nome.errors %}
        <span class="flash danger">{{ error }}</span>
      {% endfor %}
    </div>

    <div>
      {{ form.cpf.label }}<br>
      {{ form.cpf(size=14) }}
      {% for error in form.cpf.errors %}
        <span class="flash danger">{{ error }}</span>
      {% endfor %}
    </div>

    <div>
      {{ form.senha.label }}<br>
      {{ form.senha(size=32) }}
      {% for error in form.senha.errors %}
        <span class="flash danger">{{ error }}</span>
      {% endfor %}
    </div>

    <div>
      {{ form.submit() }}
    </div>
  </form>
{% endblock %}
